%table{class:"table table-striped beta-invite-table"}
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Company
      %th Email
  -@beta_invitations.each do |beta_invitation|
    %tr
      %td #{beta_invitation.first_name}
      %td #{beta_invitation.last_name}
      %td #{beta_invitation.company}
      %td #{beta_invitation.email}
