%div#add-scenario.modal.fade
  %div.modal-content
    %div.modal-header
      %button.close{data: {dismiss: "modal"}} &times;
      %h4 Start Recording A New Scenario
    %div.modal-body
      %label Scenario Name
      %input{type: "text", name: "scenario[name]", id: "scenario_name"}
      %p Once this modal closes AutoTest will automatically start recording your behavior for this scenario
    %div.modal-footer
      %button.btn.btn-default{data: {dismiss: "modal"}} Close
      %button.btn.btn-primary#start-recording{"disabled" => "disabled"} Start Recording