%button#start-text-highlight.btn.btn-info{style: "display: none; margin-right: 12px;"}
  %span.glyphicon.glyphicon-screenshot
  Verify Presence
%button#stop-record-text-highlight.btn.btn-info{style: "display: none;"} Stop Recording Verifications
