%span#current-scenario
%span#step-count.badge
.pull-right
  #button-bar.btn-group
    %button#backward.btn.btn-success
      %span.glyphicon.glyphicon-backward
    %button#play.btn.btn-success
      %span.glyphicon.glyphicon-play
    %button#pause.btn.btn-success{style: "display: none;"}
      %span.glyphicon.glyphicon-pause
    %button#stop.btn.btn-success{style: "display: none;"}
      %span.glyphicon.glyphicon-stop
    %button#forward.btn.btn-success
      %span.glyphicon.glyphicon-forward

%button#stop-recording.btn.btn-danger
  %span.glyphicon.glyphicon-stop
  Stop