%span#current-project
  %strong
    Projet:
    =@project.name
%span#current-scenario
%span#step-count.badge
.pull-right
  %div#record-button-wrapper{data: {toggle: 'tooltip', placement: "left", "original-title" =>  "You have to add or select a feature first to start recording!", trigger: "hover"} }
    %button#record.btn.btn-danger{disabled: 'disabled'}
      %span.glyphicon.glyphicon-record
      Record
  = render "text_highlight"
  %button#stop-recording.btn.btn-danger
    %span.glyphicon.glyphicon-stop
    Stop
.pull-right
  = select_tag "features"
  %button#add-feature.btn.btn-success
    %span.glyphicon.glyphicon-plus
    Add Feature