.row
  .col-xs-12.col-sm-7.col-md-7.col-lg-4
    %h1.page-title.txt-color-blueDark
      %i.fa.fa-fw.fa-home
      Dashboard

  .col-xs-12.col-sm-5.col-md-5.col-lg-8
    / sparks
    %ul#sparks
      %li.sparks-info
        %h5
          Minutes
          %span.txt-color-blue
            = current_user.available_minutes
            Remaining
      %li.sparks-info
        %h5
          Builds
          %span.txt-color-purple 45 Remaining
      %li.sparks-info
        %h5
          Plan
          %span= link_to current_user.plan.name, my_info_path

.row
  .col-sm-12
    .well
      %button.close{"data-dismiss" => "alert"}
        ×
      %h1.semi-bold Welcome text here.
      %p
        Welcome to autotest.
      = link_to 'Get Started!', '#', class: 'btn btn-primary'


.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    .well.well-sm
      .smart-timeline
        %ul.smart-timeline-list
          //Passing Example
          %li
            .smart-timeline-icon.passing
              %i.fa.fa-fw.fa-check
            .smart-timeline-time
              %small just now
            .smart-timeline-content
              %p
                %a.txt-color-greenDark{href: "javascript:void(0);"}
                  %strong Project Name
              %p
                Test Details
          //Failing Example
          %li
            .smart-timeline-icon.failing
              %i.fa.fa-fw.fa-exclamation
            .smart-timeline-time
              %small Mar 18, 2014
            .smart-timeline-content
              %p
                %a.txt-color-red{href: "javascript:void(0);"}
                  %strong Project Name
              %p
                Test Details
