%footer
  .container
    %hr.featurette-divider/
    %p.pull-right
      %a{href: "#"} Back to top
    %p
      \©
      = Time.now.year + 1
      AutoTest, Inc. ·
      %a{href: privacy_path} Privacy
      \·
      %a{href: terms_path} Terms
