.row
  .col-xs-12.col-sm-7.col-md-7.col-lg-4
    %h1.page-title.txt-color-blueDark
      %i.fa.fa-edit.fa-fw
      Chnage Your Plan

#change-plan.tab-pane
  %p You currently have #{current_user.available_minutes} of your #{current_user.plan.minutes_available} minutes of testing allowance remaning.
  = render 'shared/plan_options'

#coupon-code
  = render 'devise/registrations/coupon_code'

/ Hide delete my account for now
-##cancel-account.tab-pane
-#  %h2 Unhappy?
-#  %p{style: 'font-size: 1.4em'}
-#    We're sorry to see you go.  If there is anything we can help you with please
-#    %a{href: "#"} contact us.
-#  %br
-#  = button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-success"
