%button#start-text-highlight.btn.btn-primary.btn-xs{style: "display: none;"} 
  %span.glyphicon.glyphicon-screenshot
  Select Element
%button#stop-record-text-highlight.btn.btn-danger.btn-xs{style: "display: none;"} Stop Recording Elements
