%span#highlight-helper{style: "color: #FFF; display: none;"}
  Your highlighted text is:
  %span#highlighted-text
%button#start-text-highlight.btn.btn-primary.btn-xs{style: "display: none;"} Look for text highlight
%button#record-text-highlight.btn.btn-danger.btn-xs{style: "display: none;"} Record this Text
