%button#start-text-highlight.btn.btn-primary{style: "display: none;"}
  %span.glyphicon.glyphicon-screenshot
  Validate Page
%button#stop-record-text-highlight.btn.btn-danger{style: "display: none;"} Stop Recording Elements
