.col-md-4.col-md-offset-4
  %h1
    Thanks!
  %p
    Thank you Demo User for submitting our test form. Click #{link_to "here", test_form_path(project_id: params[:project_id])} to go back to the form!
