%p
  Hey there, how's it going with Autotest so far?

%p
  Let me know if there's anything I can help with or if there are any issues that you're having.

%p
  Mike
  %br
  Co-Founder/CEO
  %br
  %a{href: "http://www.autotest.io", target: "_blank"}
    Autotest.io
