%p
  = t("emails.notify_test_result.greeting_html")
%p
  = t("emails.notify_test_result.content_html")
%p
  #{link_to t("emails.notify_test_result.text_for_link"), @link_to_test_run, target: "_blank"}
%p
  = t("emails.notify_test_result.closing_html")
