%h1 AutoTest Failed Test Run Notification
%p
  #{@test_run.complete_notification_message} that ran on #{@test_run.created_at.strftime("%A %b.%d, %Y")} at #{@test_run.created_at.strftime("%H:%M:%S UTC +00:00")} has failed. #{@test_run.user.first_name} should know more about it.
