%p Hey There!

%p Our magical Internet elves have detected that you successfully added our code to your site.

%p Woo! Let the testing begin. Please click below to be taken to your Projects Page.

%p #{link_to "Go to project", project_url(@project_id, at_e: "project_verified")}

%p Thanks,

%p The Autotest team
