%p
  Hey,
%p
  I set up some tests on the #{link_to @project.name, project_url(@project), target: "_blank"} project through GorillaTest and was hoping you could take a look. The details of the test I set up are included below.
%p
  The Test is: #{link_to @test.name, project_test_test_runs_url(@project, @test), target: "_blank"}
%p
  You can watch the test run live in your browser here: #{link_to "Watch Developer Mode", @developer_mode_url, target: "_blank"}.
%p
  Here are some more details about the test:
  %ol
    -@test.steps.each do |step|
      %li #{step.to_s}
