%p
  Greetings!
%p
  #{@inviting_user.email} has invited you to try collaborate on #{@project.name}.
- if @user.encrypted_password.blank?
  %p
    You can accept it through the link below.
  %p
    = link_to 'Accept invitation', accept_invitation_url(invitation_token: @user.invitation_token)
  %p
    Your account won't be created until you access the link above and set your password.
- else
  %p
  Since you already have an account we have added this project to it.  You can login and being contributing now.
