.col-xs-6.col-sm-3.col-md-1.col-lg-4
  %ul#sparks
    %li.sparks-info
      %h5
        Minutes
        %span.txt-color-blue
          = current_user.available_minutes
          Remaining
    %li.sparks-info
      %h5
        Plan
        %span= link_to current_user.plan.name, change_plan_path
