.container.marketing
  / Three columns of text below the carousel
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        AutoTest automates testing.
        %span.text-muted See for yourself.
      %p.lead
        Set up your
        %strong QA test in 20 seconds,
        and not over and over. AutoTest detects your mouse clicks
        and creates automated tests in the background. Works with all web apps, and set them up automatically on our servers.
    .col-md-5
      = image_tag('welcome/autotest-cucumber-feautes-automated.jpg', class: 'featurette-image img-responsive')
  %hr.featurette-divider/
  .row.featurette
    .col-md-5
      = image_tag('welcome/autotest-runs-on-all-browsers.jpg', class: 'featurette-image img-responsive')
    .col-md-7
      %h2.featurette-heading
        AutoTest Multiple Browsers.
        %span.text-muted With a single click.
      %p.lead
        Your productivity relies on fast test results. AutoTest completes your tests faster than your MacBook Pro, EC2,
        local server, or any other service, and
        %strong across all Browsers!
  %hr.featurette-divider/
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        AutoTest Automatic Parallelization.
        %span.text-muted 16-way parallelization.
      %p.lead
        We can automatically parallelize your tests across multiple machines. With up to
        %strong 16-way parallelization,
        your test turn-around time can be massively reduced.
    .col-md-5
      = image_tag('welcome/autotest-amazon-web-services-server-architecture.jpg', class: 'featurette-image img-responsive')

= render 'welcome/beta_invitation_form'
