.background
  .container
    .row
      .col-sm-12
        .pages-margin.well.well-light
          %h1 Documentation
          %h4 Getting Started

          %p Once you have signed up for a Gorilla Test account, you will be able to add projects or record some sample tests.  To access the projects, click on the "Projects", link in the left sidebar nav.

          Adding A Project

          To add your first project, use the Add Project button in the left sidebar.  After clicking this link you’ll be presented with an opportunity to enter your project name, and the URL you’ll be testing.  By clicking the “Show Advanced Settings”, you can also enter a HTTP Basic Authentication Username and Password if needed.

          Recording Your First Test

          To record your first test, navigate to the project you would like to record tests for.  There should be a red record button in the top navigation for the project.  Clicking this button will take you to the website that is designated for that project.

          To begin recording on your site:

          Click the red "Record" button in the top right corner of the screen.
          Record actions by completing them in your browser, for example:
              Enter text in a Login form
              Select products to add to a cart in an e-commerce store
              Use web page links to navigate to other pages
          Once you are done recording, you can click the "Stop" button located in the upper right hand of the website.




          Validating Data

          In order to validate data on  your site.

          Click the "Validate" button
          As you move around the web page, you'll notice a green highlighting
          Use the green highlighting to locate the specific element/text validation you would like to record.
          Once you have highlighted the specific text/element click and you'll be presented with a modal window to validate the text or the html elements surrounding the text.

          Playing Back Your Tests

          To playback your recorded tests, navigate to the project you would like to playback.  There are 2 options when playing back a test,  “Play All Tests” for a project, or just playback a single test. Once you’ve clicked play, choose the browsers that you would like to run the tests on and click the “Run Test” button.

          Inviting Other Users



          Playback in Developer

          Heroku Add-On
