.background
  .container
    .row
      .col-sm-12
        .pages-margin.well.well-light
          %h1 Frequently Asked Questions
          %ol
            %li
              %h4 How can I get started?
              %p Info here.
            %li
              %h4 How can I automate everything?
              %p Info here.
