- content_for :head do
  = javascript_include_tag 'pages'

- content_for :title do
  Automated QA.

.container
  .row
    .col-sm-12.text-center
      %h1.welcome-title Automated QA.
    #imac.row{style: 'margin-bottom: 40px;'}
      .col-sm-8.col-sm-offset-2
        = image_tag('welcome/imac.png', class: 'img-responsive imac')
        = image_tag('welcome/demo.gif', class: 'demo-video img-responsive')
      %hr.featurette-divider/

.container
  .row
    .col-sm-6.col-sm-offset-2
      %p
        Set up your
        %strong QA test in 20 seconds,
        and not over and over.
        %strong Run Multiple Browsers.
        With a single click.
        Automatically parallelize your tests across multiple machines. With up to
        %strong 16-way parallelization.
    .col-sm-2.col-sm-inset-2
      = link_to 'Request Invite', beta_invitation_path, class: 'btn btn-danger btn-lg'
      /= link_to 'Sign Up for Free', sign_up_free_path, class: 'btn btn-danger btn-lg'
