.background
  .container
    .row
      .col-sm-12.text-center
        %h1.featurette-heading Automated QA.
      .row{style: 'margin-bottom: 40px;'}
        .col-md-12
          = image_tag('welcome/imac.png', class: 'img-responsive imac')

        %hr.featurette-divider/

  .container
    .row
      .col-sm-6.col-sm-offset-2
        %p
          Set up your
          %strong QA test in 20 seconds,
          and not over and over.
          %strong Run Multiple Browsers.
          With a single click.
          Automatically parallelize your tests across multiple machines. With up to
          %strong 16-way parallelization.
      .col-sm-2.col-sm-inset-2
        %p
          -#%button.btn.btn-success.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", style: 'margin: 40px 0 20px;'}
          -#  Request a Beta Invitation
          = link_to 'Sign Up Free', sign_up_free_path, class: 'btn btn-danger btn-lg'

= render 'pages/beta_invitation_form'
