- content_for :title do
  Invite Users

.row
  %article.col-sm-6
    #wid-id-0.jarviswidget{"data-widget-colorbutton" => "false", "data-widget-custombutton" => "false", "data-widget-editbutton" => "false"}
      %header
        %span.widget-icon
          %i.fa.fa-users
        %h2 Invite others to try out Gorilla Test!
      %div
        .jarviswidget-editbox
        .widget-body

          = simple_form_for resource, :as => resource_name, :url => 'invitation', :html => {:method => :post} do |f|
            = devise_error_messages!
            - resource.class.invite_key_fields.each do |field|
              =f.input field
            %footer
              = f.submit t("devise.invitations.new.submit_button"), class: "btn btn-info"
