/ .sidebar-dropdown
/   %a{href: "#"} MENU
/ .sidey
/   .side-cont
/     %ul.nav
/       %li
/         %a{href: projects_path}
/           %span.glyphicon.glyphicon-user
/           My Info
/       %li
/         %a{href: "#"}
/           %span.glyphicon.glyphicon-credit-card
/           Change My Plan

%ul.nav.nav-pills
  %li.active
    %a{href: "#home", data: {toggle: "pill"}}
      %span.glyphicon.glyphicon-cog
      Project Info
  %li
    %a{href: "#users", data: {toggle: "pill"}}
      %span.glyphicon.glyphicon-user
      Users
