#add-scenario.modal.fade
  .modal-dialog
    .modal-content
      = simple_form_for [project, feature, feature.scenarios.new] do |f|
        .modal-header
          %button.close{data: {dismiss: "modal"}, aria:{hidden: true}} &times;
          %h4.modal-title Add Scenario to #{feature.name}
        .modal-body
          = f.input :name
        .modal-footer
          %button.btn.btn-info{data: {dismiss: "modal"}, aria: {hidden: true}} Close
          = f.submit "Add Scenario", class: "btn btn-primary"
