.sidebar-dropdown
  %a{href: "#"} MENU
.sidey
  .side-cont
    %ul.nav
      / Main menu
      %li.current
        %a{href: dashboard_path}
          %i.icon-home
          Dashboard
      %li
        %a{href: projects_path}
          %i.icon-bar-chart
          Projects
      %li
        %a{href: "#"}
          %i.icon-th
          Team Members
      %li
        %a{href: edit_user_registration_path}
          %i.icon-calendar
          Settings
      %li
        = link_to "Invitations", new_invitation_path
      %li= link_to "Log Out", destroy_user_session_path, method: :delete
