.sidebar-dropdown
  %a{href: "#"} MENU
.sidey
  .side-cont
    %ul.nav
      / Main menu
      %li.current
        %a{href: "dashboard_path"}
          %i.icon-home
          Dashboard
      %li
        %a{href: "charts.html"}
          %i.icon-bar-chart
          Projects
      %li
        %a{href: "widgets.html"}
          %i.icon-th
          Team Members
      %li
        %a{href: "calendar.html"}
          %i.icon-calendar
          Settings
