//.status
.status-pass {
  color: green;
}

.status-fail {
  color: red;
}

.panel-status {
  background-image: none !important;
}

.firefox-status, .chrome-status, .phantomjs-status {
  display: none;
}

.see-test-detail {
  font-size: 1.1em;
}

.panel-success {
  color: #3c763d !important;
  background-color: #dff0d8 !important;
  border-color: #d6e9c6 !important;
}

.panel-fail {
  background-color: #f2dede !important;
  color: #a94442 !important;
  border-color: #ebccd1 !important;
}

.terminal {
  background-color: black;
  color: white;
  font-family: "Ubuntu Mono", sans-serif;
  font-size: 1.2em;
  overflow: auto;
}

ul.steps-list {
  list-style-type: none;
  li {
    border-top: none;
    padding: 0;
  }
}

#copy-confirmation {
  display: none;
  font-weight: bold;
  text-align: center;
}

#dev_emails_tag {
  min-width: 400px;
}

#tour-recent-updates {
  margin-left: 10px;
  font-size: 14px !important;
}
