textarea, input[type="text"], input[type="password"], input[type="file"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"],
input[type="week"], input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"] {
  border: 2px solid #c8c8c8;
}
input:-webkit-autofill {
  background-color: white !important;
}
