#nav-project-list-link {
  ul {
    display: block;
  }
}

li.current-project a{
  font-weight: bold;
}

.menu-item-parent em {
  font-size: 11px;
}

#messages {
  overflow-y: auto;
  max-height: 300px;
}
.navigation {
  ul li.add-project a {
    font-size: 11px;
    color: #58d68d !important;
    &:hover, &:active {
      color: #27ad60 !important;
    }
  }
  ul li > a:hover, li a:hover {
    background: none !important;
    color: #202427;
  }
}
