#nav-project-list-link {
  ul {
    display: block;
  }
}

li.current-project a{
  font-weight: bold;
}

.menu-item-parent em {
  font-size: 11px;
}

#messages {
  overflow-y: auto;
  max-height: 300px;
}
