.background {
  background-image: url('../../assets/layout/bg.jpg');
  background-size: 10px 587px;
  background-repeat: repeat-x;
}
.imac {
  width: 800px;
  height: auto;
}
.featurette-heading {
  margin: 40px 0;
}
.demo-video {
//  height: 403px;
//  width: 736px;
  z-index: 1;
  position: absolute;
  top: 23px;
  left: 30px;
}
.imac {
  position: relative;
  z-index: 2;
}
.footer-logo {
  margin: 80px 0;
}
