.project-title {
  width: auto;
  float: left;
  padding-right: 20px;
}
.project-links {
  float: left;
  padding-top: 5px;
}
.verify {
  margin-top: 80px;
}
#projects .well {
  margin: 20px 0;
}
.project-stats {
  margin: 20px 0;
}
.browser-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#projects .action {
  margin-right: 20px;
}
#projects .run-scenario {
  float: right;
}
#projects-edit {
  .nav-tabs {
    margin: 30px 0 0;
  }
  label {
    color: #595959;
    font-weight: 500;
    display: block;
    text-align: left;
    padding-bottom: .4em;
    max-width: 550px;
    font-size: 15px;
    line-height: 18px;
    padding: .2em 0 .6em 0
  }
}
