.smart-style-2 {
  #header, .inbox-footer, .superbox-show {
    background-image: none;
    background: linear-gradient(to bottom, #fff 99%, #cacaca 100%);
  }
  .superbox-list.active:before {
    color: #2C3742;
  }
  .superbox-img-description {
    color: #9EA8B1 !important;
  }
  #project-context > :first-child {
    text-shadow: none;
  }
  #project-selector {
    color: #398ed5;
    &:hover {
      color: #17bdff;
    }
  }
  #logo-group span#activity {
    background: none !important;
    border: none !important;
    color: #C5C6CA;
    &:hover {
      color: #fff;
    }
  }
  .header-search > input[type="text"] {
    background: #161B22;
    border: 1px solid #0F1217;
    color: #fff;
    border-radius: 4px;
  }
  .btn-header > :first-child > a {
    background: none;
    border: none !important;
    color: #C5C6CA;
    box-shadow: none !important;
    &:hover {
      color: #fff;
      cursor: pointer !important;
    }
  }
  .header-search > button, .header-dropdown-list a.dropdown-toggle {
    color: #C5C6CA;
  }
  #ribbon {
    background: #fff;
  }
  .btn.btn-ribbon {
    background: #9498A0;
  }
  #ribbon .breadcrumb {
    li:last-child, > .active, a {
      color: #7C7C7C !important;
    }
    color: #7C7C7C !important;
  }
  aside {
    background: #F7F7F7;
    background: -webkit-gradient(linear, left top, right top, color-stop(99%, #f7f7f7), color-stop(100%, #cacaca));
    background: -webkit-linear-gradient(left, #f7f7f7 99%, #cacaca 100%);
    background: -webkit-gradient(linear, top left, top right, from(#f7f7f7), to(#cacaca));
    background: linear-gradient(to right, #f7f7f7 99%, #cacaca 100%);
    min-height: 100%;
  }
  #left-panel {
    padding: 15px;
  }
  #logo-group > span .badge {
    background: #008DC4;
  }
  .login-info {
    span {
      border: 0 !important;
      box-shadow: none !important;
      padding: 5px 10px 7px;
      background: #FFF;
      border-radius: 4px;
    }
    border: 0 !important;
    box-shadow: none !important;
    a {
      span {
        padding: 0;
        font-size: 16px !important;
        max-width: 105px;
      }
      font-size: 16px !important;
      color: #33455A;
      margin-top: 2px;
    }
    margin-bottom: 7px !important;
    height: auto;
    img {
      width: 35px;
    }
  }
  .navigation {
    ul {
      li a {
        color: #69737A;
        font-size: 12px;
      }
      ul {
        > li:hover b {
          color: #69737A !important;
        }
        background: none;
      }
      li.open > a {
        color: #202427 !important;
        font-weight: bold;
        b {
          color: #202427 !important;
          font-weight: bold;
        }
      }
      .active > a {
        color: #202427 !important;
        font-weight: bold;
      }
      ul {
        li > a {
          padding-left: 23px;
        }
        ul {
          li a {
            padding-left: 30px;
          }
          ul {
            li a {
              padding-left: 40px;
            }
            ul {
              li a {
                padding-left: 50px;
              }
              ul li a {
                padding-left: 60px;
              }
            }
          }
        }
      }
    }
    > ul > li > a {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    > ul > li > a {
      b {
        top: 16px;
      }
    }
    > ul {
      > li > ul::before, ul li::before {
        border: none !important;
      }
    }
  }
  .jarviswidget-color-blueDark > header {
    background: #2C3742 !important;
    border-color: #2C3742!important;
  }

  .open .dropdown-toggle.btn-primary {
    background-color: #3E90D4;
    border-color: #2F7DBE;
  }
  .dropdown-menu > li > a {
    &:hover, &:focus {
      background-color: #F7F7F7;
    }
  }
  .pagination > .active > {
    a, span, a:hover, span:hover, a:focus, span:focus {
      background-color: #3b9ff3;
    }
  }
  &.minified {
    .login-info a {
      margin-top: 4px;
    }
    #left-panel {
      padding: 0 !important;
    }
    nav {
      ul > li > a {
        padding: 12px 11px;
      }
      > ul > li {
        > {
          ul {
            background: #fff !important;
            > li {
              background: #fff !important;
              > ul > li {
                background: #fff !important;
              }
            }
          }
          a > i {
            font-size: 18px !important;
          }
        }
        border-bottom: 1px solid #E6E6E6;
        border-top: 1px solid #FFFFFF;
      }
    }
    .login-info {
      span {
        padding: 0;
      }
      margin: 0 !important;
    }
    nav ul li.active > a:before {
      height: 23px;
      right: -19px;
      top: 7px;
      font-size: 20px;
      color: #FFFFFF;
    }
  }
  .bg-color-red {
    background: #DB4A67 !important;
  }
  .bg-color-blue {
    background: #4387bf !important;
  }
  .smart-form {
    .checkbox input:checked + i, .radio input:checked + i {
      border-color: #3b9ff3;
    }
    .toggle {
      input:checked + i {
        border-color: #3b9ff3;
      }
      i:before {
        background-color: #3b9ff3;
      }
    }
  }
}

/*
 * MINIFIED
 */

/*
 * COLOR PALLET
 */

.smart-form .rating input + label:hover {
  color: #3b9ff3;
  ~ label {
    color: #3b9ff3;
  }
}

.smart-style-2 {
  .bg-color-greenLight {
    background-color: #89AD45 !important;
  }
  .bg-color-orange {
    background-color: #D6A848 !important;
  }
  .bg-color-teal {
    background-color: #5ba0a3 !important;
  }
  .minifyme {
    background: #D7DAE2;
    border-bottom: 1px solid #818181;
    color: #7E7E7E;
    &:hover {
      color: #4E4E4E;
    }
  }
  .onoffswitch-inner:before {
    background: #3b9ff3;
    border-color: #3b9ff3 #257DC7 #2A7DC4;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch:before {
    color: #84A83E;
  }
}
