<p>Howdy!</p>

<p>Please verify your email address to activate by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(confirmation_token: @token, at_e: "email_verify"), target: "_blank" %></p>

<p>Thanks,</p>
<p>The Autotest team</p>
