<p>
  <%= t("emails.confirm_email.greeting_html") %>
</p>

<p>
  <%= t("emails.confirm_email.content_html") %>
</p>

<p>
  <%= link_to t("emails.confirm_email.text_for_link"), confirmation_url(confirmation_token: @token, at_e: "email_verify"), target: "_blank" %>
</p>

<p>
  <%= t("emails.confirm_email.closing_html") %>
</p>
