%li
  = link_to feature.name, project_feature_path(@project, feature)
  .pull-right
    = link_to "Play"
    |
    = link_to "Delete", project_feature_path(@project, feature), method: :delete, confirm: 'Are you sure?'
