#iframe-wrapper
  position: fixed
  width: 100%
  z-index: 2000
  top: 0px
  left: 0px

iframe#autotest-iframe
  width: 100%
  height: 55px
  top: 0px
  border: 0px
  display: block

iframe#autotest-dev-iframe
  width: 100%
  height: 55px
  top: 0px
  border: 0px
  display: block

.recording-bar
  background-color: #4f4f4f
  border-bottom: 1px solid #efefef
  color: #eee
  line-height: 20px
  padding: 12px 10px 12px
  position: fixed
  top: 0px
  left: 0px
  min-width: 960px
  z-index: 20000
  width: 100%
  height: 54px
  clear: both
  padding-right: 10px
  overflow-x: none
  overflow-y: none
  font-size: 1em
  font-family: Arial, Helvetica, sans-serif;

.dev-bar
  background-color: #4f4f4f
  border-bottom: 1px solid #efefef
  color: #eee
  line-height: 20px
  padding: 12px 10px 12px
  position: fixed
  top: 0px
  left: 0px
  min-width: 960px
  z-index: 20000
  width: 100%
  height: 54px
  clear: both
  padding-right: 10px
  overflow-x: none
  overflow-y: none
  font-size: 1em
  font-family: Arial, Helvetica, sans-serif;

button.btn
  font-size: .9em !important

.recording-bar .pull-right
  margin-right: 20px

.recording-bar select
  margin-top: 7px
  height: 30px
  line-height: 28px

.recording-bar .modal
  margin-top: 100px
  height: 0

.recording-bar .modal-content
  margin-top: 0px

.recording-bar .modal-body
  overflow-y: none

.recording-bar .logo
  font-family: Arial, Helvetica, sans-serif;
  text-transform: lowercase
  font-size: 1.6em
  padding-right: 10px

.recording
  background-color: #A3243D
  color: #FFF
  animation: fading 12s infinite
  -webkit-animation: fading 12s infinite

.validation-radio
  vertical-align: top

.test-image
  max-width: 400px

.flash
  margin-top: 24px

.alert-success, .alert-danger
  margin-bottom: 0px

#step-count
  display: none

#step-count-text
  display: none

#step-count
  color: #fff
  &:hover
    text-decoration: underline
    cursor: pointer

.autotest-highlight
  outline: 4px solid #CCFFBB

.modal
  color: #333

#stop-recording
  display: none

#autotest-overlay
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 1000
  display: none

.autotest-modal
  text-align: center
  position: fixed
  overflow-y: auto
  left: 50%
  display: none
  background: #fff
  color: #333
  overflow: auto
  z-index: 1001
  position: absolute
  /* min-width: 375px */
  min-width: 400px
  max-width: 500px
  border-radius: 4px
  font-family: Arial, Helvetica, sans-serif;
  text-align: left
  padding: 0px
  .autotest-modal-close-x
    margin-top: -0px
    float: right
    font-size: 1.3em
    font-weight: bold
    background: transparent
    border: 0
    padding: 0
    &:hover
      text-decoration: none
  .autotest-modal-content
    height: 100%
    top: 0px
    padding: 0px
  .autotest-modal-header
    margin-top: 0px
    margin-bottom: 5px
    background: #4f4f4f
    padding: 5px 10px
    border-top-radius: 4px
    h4
      font-size: 1.4em
      margin: 0px
      text-align: left
      color: #fff
  .autotest-modal-body
    padding: 10px
    font-size: 1em
    min-height: 150px
    label
      font-weight: bold
      font-size: .8em
      display: inline
    input[type=radio]
      width: 20px
      vertical-align: middle
    input
      border: 1px solid #ccc
      width: 98%
      font-size: 0.8em
      padding: 4px
      border-radius: 4px
      font-family: Arial, Helvetica, sans-serif;
  .autotest-modal-footer
    margin-top: 15px
    padding: 10px
    text-align: right
    .btn
      display: inline-block
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 0
      font-weight: normal
      text-align: center
      vertical-align: middle
      cursor: pointer
      background-image: none
      border: 1px solid transparent
      white-space: nowrap
      padding: 6px 12px
      font-size: 14px
      line-height: 1.428571429
      border-radius: 4px
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      -o-user-select: none
      user-select: none
    .btn-primary
      color: white
      background-color: #5cb85c
      border-color: #4cae4c
      background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%)
      background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%)
      background-repeat: repeat-x
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5CB85C', endColorstr='#FF419641', GradientType=0)
      filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)
      background-repeat: repeat-x
      border-color: #3e8f3e
      &:hover, &:focus
        background-color: #419641
        background-position: 0 -15px
      &:active, .active
        background-color: #419641
        border-color: #3e8f3e
    .btn-default
      color: #333333
      background-color: white
      border-color: #cccccc
#autotest-view-steps
  position: fixed
  top: 0px
  left: 0px
  background-color: rgba(0, 0, 0, .8)
  width: 100%
  color: white
  height: 100%
  padding: 20px
  z-index: 1000
  font-size: 0.7em
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto
  ul#autotest-steps
    margin-top: 55px
    list-style-type: none
    padding-bottom: 50px
    li
      font-size: 1.2em
      background: goldenrod
      margin: 7px
      padding: 5px
      font-weight: bold
      width: 50%
      border-radius: 10px
      color: black
      border: 1px solid golden

$red: #c13737
$black: #333333
@keyframes fading
  0%
    background:  $red
  25%
    background: $black
  50%
    background: $red
  75%
    background: $black
  100%
    background: $red


@-webkit-keyframes fading
  0%
    background: $red
  25%
    background: $black
  50%
    background: $red
  75%
    background: $black
  100%
    background: $red


@keyframes opacityfading
  0%
    opacity: 0
  25%
    opacity: 1
  50%
    opacity: 0
  75%
    opacity: 1
  100%
    opacity: 0


@-webkit-keyframes opacityfading
  0%
    opacity: 0
  33%
    opacity: 1
  66%
    opacity: 0
  100%
    opacity: 1
