.recording-bar
  background-color: black
  height: 30px
  padding: 5px 10px
.recording
  background-color: #A3243D
  color: #FFF

.validation-radio
  vertical-align: top

#step-count-text
  display: none
