%footer.text-center
  = link_to image_tag('layout/footer-logo.jpg', class: 'footer-logo')
  %p
    ©
    = Time.now.year
    All Rights Reserved. Gorilla Test ® is a registered trademark of 14 Labs.
    = link_to 'Privacy', privacy_path
    and
    = link_to 'Terms', terms_path
