:css
  .gorilla-test {
    margin: 80px 0;
  }

%footer.text-center
  %h1.gorilla-test Gorilla Test
  %p
    ©
    = Time.now.year
    All Rights Reserved. Gorilla Test ® is a registered trademark of 14 Labs.
    = link_to 'Privacy and Terms'
