%header#header
  #logo-group
    %span#logo
      = image_tag('layout/gorilla-test-head.svg')
      %h1.hide Gorilla Test
  = render 'layouts/recent_updates'

  / logout button
  %ul#logout.btn-header.transparent.pull-right
    %li= nav_link "Logout", logout_path, "fa-sign-out"
