%aside#left-panel
  .login-info
    %span
      / User image size is adjusted inside CSS, it should stay as it
      %a#show-shortcut{href: "javascript:void(0);"}
        = gravatar_image_tag(current_user, 32)
        %span
          = current_user.try(:name)

  %nav
    %ul
      %li= nav_link "Dashboard", dashboard_path, "fa-home"
      %li
        %a{href: "javascript:;"}
          %i.fa.fa-lg.fa-fw.fa-desktop
          %span.menu-item-parent Projects
        %ul
          - @users_projects.each do |project|
            %li= link_to project.name, project_path(project)

  %span.minifyme
    %i.fa.fa-arrow-circle-left.hit
