#shortcut
  %ul
    %li= nav_link "Invite Users", invitations_path, "fa-group"
    %li= link_to 'My Info', my_info_path
    %li= link_to 'Change Your Plan', change_plan_path
    %li= link_to 'Manage Billing', credit_cards_path
    %li
      %a.jarvismetro-tile.big-cubes.bg-color-blue{href: "#inbox.html"}
        %span.iconbox
          %i.fa.fa-envelope.fa-4x
          %span
            Mail
            %span.label.pull-right.bg-color-darken 14
    %li
      %a.jarvismetro-tile.big-cubes.bg-color-orangeDark{href: "#calendar.html"}
        %span.iconbox
          %i.fa.fa-calendar.fa-4x
          %span Calendar
    %li
      %a.jarvismetro-tile.big-cubes.bg-color-purple{href: "#gmap-xml.html"}
        %span.iconbox
          %i.fa.fa-map-marker.fa-4x
          %span Maps
    %li
      %a.jarvismetro-tile.big-cubes.bg-color-blueDark{href: "#invoice.html"}
        %span.iconbox
          %i.fa.fa-book.fa-4x
          %span
            Invoice
            %span.label.pull-right.bg-color-darken 99
    %li
      %a.jarvismetro-tile.big-cubes.bg-color-greenLight{href: "#gallery.html"}
        %span.iconbox
          %i.fa.fa-picture-o.fa-4x
          %span Gallery
    %li
      %a.jarvismetro-tile.big-cubes.selected.bg-color-pinkDark{href: "javascript:void(0);"}
        %span.iconbox
          %i.fa.fa-user.fa-4x
          %span My Profile
