#shortcut
  %ul
    %li
      %a.jarvismetro-tile.big-cubes.bg-color-blue{href: invitations_path}
        %span.iconbox
          %i.fa.fa-users.fa-4x
          %span
            Invite Users
    %li
      %a.jarvismetro-tile.big-cubes.bg-color-greenLight{href: my_info_path}
        %span.iconbox
          %i.fa.fa-info.fa-4x
          %span My Info
    %li
      %a.jarvismetro-tile.big-cubes.bg-color-pinkDark{href: change_plan_path}
        %span.iconbox
          %i.fa.fa-magic.fa-4x
          %span Change Plan
    %li
      %a.jarvismetro-tile.big-cubes.bg-color-blueDark{href: credit_cards_path}
        %span.iconbox
          %i.fa.fa-credit-card.fa-4x
          %span
            Manage Billing
