!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    / If you delete this meta tag, Half Life 3 will never be released.
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Basic
  %body{:bgcolor => "#FFFFFF"}
    %table.head-wrap
      %tr
        %td
        %td.header.container
          .content
            %table
              %tr
                %td
                  %h1 Gorilla Test
                  -#TODO: ADD LOGO
                  -#%img{:height => "30", :src => "logo.png", :width => "142"}/

        %td
    / /HEADER
    / BODY
    %table.body-wrap
      %tr
        %td
        %td.container{:bgcolor => "#FFFFFF"}
          .content
            %table
              %tr
                %td
                  = yield

                  %table.social{:width => "100%"}
                    %tr
                      %td
                        / column 1
                        %table.column{:align => "left"}
                          %tr
                            %td
                              %h5 Connect with Us:
                              %p
                                %a.soc-btn.fb{:href => "https://www.facebook.com/pages/Gorilla-Test/820536317960156"} Facebook
                                %a.soc-btn.tw{:href => "https://www.twitter.com/Gorilla_Test"} Twitter
                                %a.soc-btn.gp{:href => "https://plus.google.com/115789438043798219860"} Google+
                        / /column 1
                        / column 2
                        %table.column{:align => "left"}
                          %tr
                            %td
                              %h5 Contact Info:
                              %p
                                Email:
                                %strong
                                  %a{:href => "emailto:support@gorillatest.com"} support@gorillatest.com
                        / /column 2
                        %span.clear
                  / /social &amp; contact
          / /content
        %td
    / /BODY
    / FOOTER
    %table.footer-wrap
      %tr
        %td
        %td.container
          / content
          .content
            %table
              %tr
                %td{:align => "center"}
                  %p#terms-footer
                    %a{:href => "#"} Terms
                    |
                    %a{:href => "#"} Privacy
                    |
                    %a{:href => "#"}
                      %unsubscribe Unsubscribe
          / /content
        %td
    / /FOOTER
